/* generics */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    background-color: white;
    /* font-size: 20px;
    line-height: 1.8rem; */
}


/* utilities */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
}

.pulsanti {
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

p {
    font-size: 1.2rem;
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}


/* Intestazione pagina e navigazione */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    margin: 0 auto;
}

.menù-navigazione {
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 10px;
}

h1 {
    padding-bottom: 30px;
    font-size: 3rem;
}

.intestazione {
    text-align: center;
    flex-wrap: wrap;
}

.intestazione-container {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 50px;
}

.pulsanti-bianchi {
    background-color: white;
    color: black;
}

.pulsanti-neri {
    background-color: black;
    color: white;
}

.pulsanti-scarica {
    padding-bottom: 150px;
}

#pulsante-accedi {
    font-size: 10px;
    padding: 8px 15px;
}

/* end Intestazione pagina e navigazione */


/* Contenuto pagina */
main .flex>* {
    flex-basis: calc(50% - 10px);
    padding: 0px 5px;
    flex-shrink: 0;
}

main section p {
    margin: 25px 0px;
}

h2 {
    font-size: 2rem;
}

#community,
#chiamate,
#chat-gruppo {
    padding: 75px 0px;
}

.sezioni-pari {
    background-color: #f0f0f0;
}

/* end Contenuto pagina */


/* Onda */
main svg {
    color: #f0f0f0;
    display: block;
}

main svg.even {
    color: white;
    background-color: #f0f0f0;
}

/* end Onda */


/* Info azienda e link utili */

/* end Info azienda e link utili */


/******** PROVE ********/



/******** PROVE ********/