/* generics */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    background-color: white;
    /* font-size: 20px;
    line-height: 1.8rem; */
}


/* utilities */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
}

.pulsanti {
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

p {
    font-size: 1.2rem;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align-items {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

/* Intestazione pagina e navigazione */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    margin: 0 auto;
}

.menù-navigazione {
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 10px;
}

h1 {
    padding-bottom: 30px;
    font-size: 3rem;
}

.intestazione {
    text-align: center;
    flex-wrap: wrap;
}

.intestazione-container {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 50px;
}

.pulsanti-bianchi {
    background-color: white;
    color: black;
}

.pulsanti-azzurri {
    background-color: rgb(35, 82, 224);
    color: white;
}

.pulsanti-scarica {
    padding-bottom: 150px;
}

#pulsante-accedi {
    font-size: 10px;
    padding: 8px 15px;
}

/* end Intestazione pagina e navigazione */


/* Contenuto pagina */
main .flex>* {
    flex-basis: calc(50% - 10px);
    padding: 0px 5px;
    flex-shrink: 0;
}

main section p {
    margin: 25px 0px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

#stelline-sfondo {
    background-image: url(../img/stars.svg);
    background-size: 95%;
    width: 500px;
    background-repeat: no-repeat;
    text-align: center;
    background-position-y: center;
    line-height: 80px;
}

#call-to-action,
#community,
#chiamate,
#chat-gruppo {
    padding: 75px 0px;
}

.sezioni-pari {
    background-color: #f0f0f0;
}

/* end Contenuto pagina */


/* Onda */
main svg {
    color: #f0f0f0;
    display: block;
}

main svg.even {
    color: white;
    background-color: #f0f0f0;
}

/* end Onda */


/* Info azienda e link utili */
footer {
    background-color: #23272a;
    color: white;
    padding: 50px 0px;
}

#profili-social {
    flex-basis: 300px;
    flex-shrink: 0;
}

#profili-social h2 {
    padding-bottom: 30px;
    color: rgb(35, 82, 224);
}

#lingua {
    margin-bottom: 15px;
}

#bandiera {
    float: left;
}

#bandiera img {
    width: 25px;
    margin-right: 10px;
}

.chevron {
    margin-left: 10px;
}

footer .column {
    flex-basis: calc(25% - 20px);
    padding: 0px 10px;
}

footer hr {
    margin: 25px 0px;
}

/* end Info azienda e link utili */


/******** PROVE ********/



/******** PROVE ********/